#contactComponent {
	overflow: hidden;
}

.formContainerStyle {
	font-family: 'Roboto';
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding: 7em 2em;
	background-color: #eeeeee;
}

.formHide {
	visibility: hidden;
	display: none;
}

.formShow {
	visibility: visible
}

.thankYouOff {
	visibility: hidden;
	display: none;
}

.thankYouOn {
	visibility: visible;
	text-align: center;
	color: #00adb5;
	/* font-family: 'Allerta Stencil'; */
	text-align: center;
	font-size: 6em;
	font-weight: bold;
	margin: 2em 4em;
}

.thankYouOn:before {
    content: "";
    margin-left: -100%;
}
.thankYouOn:after {
    content: "";
    margin-right: -100%;
}

.formErrorContainer {
	margin: 0;
}

.labelContainer {
	width: 26em;
	align-items: flex-start;
	margin-bottom: 0.5em;
}

.labelStyle {
	color: #00adb5;
	font-size: 1.3em;
}

.inputStyle {
	width: 20em;
	font-size: 1.3em;
	border-width: 0.1em;
	color: #ffffff;
	border-radius: 10px;
	padding-left: 0.5em;
	border-color: #ffffff;
	margin-bottom: 1em;
	background-color: #222831;
}

.textareaStyle {
	margin: 0;
}

.buttonStyle {
	font-size: 1.3em;
	width: 10em;
	margin: 1em 0;
	border-width: 0.1em;
	border-radius: 10px;
}

#quesWorkTog {
	color: #00adb5;
	text-align: center;
	font-size: 2em;
	margin-bottom: 2em;
}

.workStyle {
	margin-top: 0.2em;
}

.footerStyle {
	background-color: #eeeeee;
	text-align: center;
	padding: 2em 2em;
	font-size: 1em;
	color: #00adb5;
}

@media (min-width: 884px) and (max-width: 1057px) {
	.thankYouOn {
		font-size: 5em;
	}
}

@media (min-width: 703px) and (max-width: 884px) {
	.thankYouOn {
		font-size: 4em;
	}
}

@media (min-width: 535px) and (max-width: 703px) {
	.thankYouOn {
		font-size: 3em;
	}
}

@media (min-width: 0px) and (max-width: 535px) {
	.thankYouOn {
		font-size: 2em;
	}
}

@media (min-width: 418px) and (max-width: 685px){
	#quesWorkTog {
		font-size: 1.8em;
		margin-bottom: 2em;
	}

	.labelContainer {
		width: 19em;
		margin-bottom: 0.5em;
	}

	.labelStyle {
		font-size: 1.2em;
	}

	.inputStyle {
		width: 17em;
		font-size: 1.2em;
		padding-left: 0.5em;
		margin-bottom: 1em;
	}

	.buttonStyle {
		font-size: 1.1em;
		width: 9em;
		margin: 1em 0;
		border-width: 0.1em;
		border-radius: 10px;
	}

	.footerStyle {
		font-size: 0.95em;
	}
}

@media (min-width: 0px) and (max-width: 418px){
	#quesWorkTog {
		font-size: 1.4em;
		margin-bottom: 2em;
	}

	.labelContainer {
		width: 15em;
		margin-bottom: 0.5em;
	}

	.labelStyle {
		font-size: 1em;
	}

	.inputStyle {
		width: 15em;
		font-size: 1.1em;
		padding-left: 0.5em;
		margin-bottom: 1em;
	}

	.buttonStyle {
		font-size: 0.95em;
		width: 8em;
		margin: 1em 0;
		border-width: 0.1em;
		border-radius: 10px;
	}

	.footerStyle {
		font-size: 0.75em;
	}
}


textarea:focus, input:focus{
    outline: none;
}

input::-webkit-input-placeholder {
	text-overflow:ellipsis;
	color: rgba(170, 170, 170, 0.35);
}
input::-moz-placeholder {
	text-overflow:ellipsis;
}
input:-moz-placeholder {
	text-overflow:ellipsis;
}
input:-ms-input-placeholder {
	text-overflow:ellipsis;
}

input:focus::-webkit-input-placeholder {
	color: transparent;
	border-color: #393e46;
}
input:focus::-moz-placeholder {
	color: transparent;
	border-color: #393e46;
}
input:focus:-moz-placeholder {
	color: transparent;
	border-color: #393e46;
}
input:focus:-ms-input-placeholder {
	color: transparent;
	border-color: #393e46;
}
