.fix {
	position: fixed;
	width: 100%;
	-webkit-transform: translateZ(0);
	z-index: 3;
	overflow: hidden;
}

nav {
	height: 4.5em;
	font-family: 'Roboto', sans-serif;
}

#ulStyle {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	list-style-type: none;
	background-color: #222831;
	height: 4.5em;
	align-items: center;
	margin-top: 0;
}

.liStyle {
	display: inline-block;
	flex-basis: content;
	font-size: 1.3em;
	padding-right: 2em;
	color: #00adb5;
	text-shadow: 0.8px 0.8px #000000;
}

.liStyleBox {
	display: inline-block;
	flex-basis: content;
	font-size: 1.3em;
	padding-right: 0.5em;
	color: #00adb5;
	text-shadow: 0.8px 0.8px #000000;
}

.navItemsContainer {
	/* justify-content: center; */
}

.MHHeadContainer {
	display: block;
}

.nameSoftContainer {
	position: relative;
	display: inline-block;
}

.nameSoft {
	text-shadow: 1.5px 1.5px #000000;
	width: 8em;
	top: 0;
	left: 0;
	padding: 0;
	padding-left: 0.1em;
	padding-bottom: 0.25em;
	/* margin-right: 3em; */
}

.logoContainer {
	position: relative;
	display: inline-block;
}


.logo {
	text-shadow: 2px 2px #000000;
	width: 2.5em;
	/* height: 2.5em; */
	top: 0;
	left: 0;
	padding-right: 0.5em;
	/* padding-left: 0.25em; */
}

.Box {
	width: 2.5em; 
	/* height: 2.5em; */
	top: 0;
	left: 0;
	padding-right: 0.5em;
	position: absolute;
}

.linkHeadStyle {
  text-decoration: none;
  color: #00adb5;
}

@media (max-width: 771px) {
	.liStyle {
		font-size: 1.3em;
	}
}

@media (min-width: 740px) and (max-width: 771px){
	.liStyle {
		font-size: 1.1em;
	}
}

@media (min-width: 676px) and (max-width: 740px){
	.liStyle {
		font-size: 1em;
	}
}

@media (min-width: 628px) and (max-width: 676px){
	.liStyle {
		font-size: 0.9em;
	}
}

@media (min-width: 568px) and (max-width: 628px){
	.liStyle {
		font-size: 1.1em;
	}

	.nameSoftContainer {
		display: none;
	}
}

@media (min-width: 485px) and (max-width: 568px){
	.liStyle {
		font-size: 1em;
	}

	.nameSoftContainer {
		display: none;
	}
}

@media (min-width: 400px) and (max-width: 485px){
	.liStyle {
		font-size: 0.85em;
	}

	.nameSoftContainer {
		display: none;
	}
}

@media (min-width: 0) and (max-width: 400px){
	.liStyle {
		font-size: 0.81em;
	}

	.nameSoft {
		display: none;
	}
}
