.homeContainer {
	font-family: 'Roboto';
	text-align: center;
	color: #dddddd;
	background-color: #eeeeee;
   	z-index: -3;
   	top: 0;
   	bottom: 0;
   	left: 0;
   	right: 0;
	background-image: url('../images/background.png');
	background-repeat: no-repeat;
   	background-size: cover;
   	background-position: center center;
	font-size: 3em;
	padding: 4em 3em;
	line-height: 1.5;
}

.introDivs {
	/* font-weight: lighter; */
}

.standOut {
	font-family: 'Allerta Stencil';
	color: #ffffff;
	font-size: 1.1em;
	padding-left: 0.3em;
	text-shadow: 2.7px 2.7px #000000;
}

#introContainer {
	background-color: rgba(34, 40, 49, 0.6);
	padding: 1em 0.3em;
	text-shadow: 1.5px 1.5px #000000;
}

.portStandout {
	border-bottom: 1.3px solid;
	text-shadow: 2px 2px #000000;
}

.portStandout:hover {
	color: #00adb5;
}

.padPort {
	padding-left: 0.3em;
	padding-right: 0.3em;
}

.padPort2 {
	padding-left: 0.3em;
}

.linkHeadStyle {
  text-decoration: none;
  color: #00adb5;
}

.mediaLinks {
	margin: 0.2em 0 0 0;
}

.mediaStyle {
	display: inline-block;
	width: 1.1em;
	margin: 0 0.1em;
	border-radius: 10px;
}

.mediaStyle:hover {
	background-color: #00adb5;
}

#myGithub {
	content: url("../images/myGithub.png");
}

#myEmail {
	content: url("../images/myEmail.png");
}

#myLinkedIn {
	content: url("../images/myLinkedIn.png");
}

@media (max-width: 1280px) {
	.homeContainer {
		font-size: 2.9em;
	}
}

@media (min-width: 1194px) and (max-width: 1280px){
	.homeContainer {
		font-size: 2.8em;
	}
}

@media (min-width: 1153px) and (max-width: 1194px){
	.homeContainer {
		font-size: 2.7em;
	}
}

@media (min-width: 1109px) and (max-width: 1153px){
	.homeContainer {
		font-size: 2.6em;
	}
}

@media (min-width: 1064px) and (max-width: 1109px){
	.homeContainer {
		font-size: 2.5em;
	}
}

@media (min-width: 1022px) and (max-width: 1064px){
	.homeContainer {
		font-size: 2.4em;
	}
}

@media (min-width: 980px) and (max-width: 1022px){
	.homeContainer {
		font-size: 2.3em;
	}
}

@media (min-width: 937px) and (max-width: 980px){
	.homeContainer {
		font-size: 2.2em;
	}
}

@media (min-width: 895px) and (max-width: 937px){
	.homeContainer {
		font-size: 2.1em;
	}
}

@media (min-width: 852px) and (max-width: 895px){
	.homeContainer {
		font-size: 2em;
	}
}

@media (min-width: 811px) and (max-width: 852px){
	.homeContainer {
		font-size: 1.9em;
	}
}

@media (min-width: 768px) and (max-width: 811px){
	.homeContainer {
		font-size: 1.8em;
	}
}

@media (min-width: 725px) and (max-width: 768px){
	.homeContainer {
		font-size: 1.7em;
	}
}

@media (min-width: 682px) and (max-width: 725px){
	.homeContainer {
		font-size: 1.6em;
	}
}

@media (min-width: 638px) and (max-width: 682px){
	.homeContainer {
		font-size: 1.5em;
	}
}

@media (min-width: 596px) and (max-width: 638px){
	.homeContainer {
		font-size: 1.4em;
	}
}

@media (min-width: 555px) and (max-width: 596px){
	.homeContainer {
		font-size: 1.3em;
	}
}

@media (min-width: 511px) and (max-width: 555px){
	.homeContainer {
		font-size: 1.2em;
	}
}

@media (min-width: 471px) and (max-width: 511px){
	.homeContainer {
		font-size: 1.1em;
	}
}

@media (min-width: 426px) and (max-width: 471px){
	.homeContainer {
		font-size: 1em;
	}
}

@media (min-width: 386px) and (max-width: 426px){
	.homeContainer {
		font-size: 0.9em;
	}
}

@media (min-width: 346px) and (max-width: 386px){
	.homeContainer {
		font-size: 0.8em;
	}
	.spacer {
		width: 100%;
		height: 60px;
	}
}

@media (min-width: 0px) and (max-width: 346px){
	.homeContainer {
		font-size: 0.7em;
	}
	.spacer {
		width: 100%;
		height: 70px;
	}
}
